/* Definici贸n de variables CSS */
:root {
  --bg-color: #181419; /* Color de fondo */
  --primary-color: #fff; /* Color primario */
  --secondary-color: #ceab95; /* Color secundario */
  --bg-input-color: #422525fd; /* Color de fondo del input */
  --bg-button-color: #643703; /* Color de fondo del bot贸n */
}

/* Estilos generales para todo el documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Estilos para el cuerpo del documento */
body {
  background-color: var(--bg-color); /* Aplicaci贸n del color de fondo */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para la imagen de fondo detail-productos*/
.detail-background {
  background-image: url("../img/abstract-1891289_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
}

/* Estilos para los t铆tulos de nivel 1 */
h1 {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 3vw;
}

/* Estilos para los t铆tulos de nivel 2 */
h2 {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 3vw;
}

/* Estilos para el encabezado */
header {
  background-color: transparent;
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/* Estilos para la barra de navegaci贸n */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 50px;
}

/* Estilos para el t铆tulo de nivel 1 */
.h1-title {
  font-size: 5vw;
  margin-bottom: 5%;
  margin-top: 2vw;
  text-align: center;
}

/* Estilos para los enlaces de la barra de navegaci贸n */
.nav-links {
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  gap: 30px;
  list-style: none;
}

/* Estilos para el logo */
#logo {
  font-weight: bold;
}

/* Estilos para los enlaces del logo */
#logo a {
  font-size: 1.3em;
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  text-decoration: none;
}

/* Animaci贸n para el logo */
#logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

/* Keyframes para la animaci贸n del logo */
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* Estilos para los enlaces de la barra de navegaci贸n */
.nav-links a {
  text-decoration: none;
  color: var(--primary-color); /* Aplicaci贸n del color primario */
}

/* Estilos al pasar el rat贸n por encima de los enlaces de la barra de navegaci贸n */
.nav-links a:hover {
  color: var(--secondary-color); /* Aplicaci贸n del color secundario */
}

/* Estilos para el bot贸n "Crear Cuenta" */
.btn-urban {
  background-color: var(
    --bg-button-color
  ); /* Aplicaci贸n del color de fondo del bot贸n */
  padding: 10px;
  border-radius: 10px;
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  cursor: pointer;
}

/* Estilos al pasar el rat贸n por encima del bot贸n "Crear Cuenta" */
.btn-urban:hover {
  color: var(
    --secondary-color
  ) !important; /* Aplicaci贸n del color secundario al pasar el rat贸n por encima */
  border: 2px solid var(--secondary-color); /* Aplicaci贸n del borde de color secundario */
}

/* Estilos para el banner */
#banner {
  background-image: url(../img/street-4542591_1280.jpg); /* URL de la imagen de fondo */
  background-size: cover; /* Tama帽o de la imagen de fondo */
  background-position: center; /* Posici贸n de la imagen de fondo */
  height: 600px; /* Altura del banner */
  box-shadow: inset 0 0 0 2000px rgba(11, 17, 24, 0.6); /* Sombra del banner */
}

/* Estilos para el contenedor principal */
.container {
  max-width: 1200px; /* Ancho m谩ximo del contenedor */
  margin: 120px auto; /* Margen superior e inferior y centrado horizontalmente */
}

/* Estilos para los elementos con display flex */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilos para las tarjetas de banner */
.card-banner {
  margin: 0 auto;
  text-align: center;
  padding: 0 160px;
}

/* Estilos para los t铆tulos de las tarjetas de banner */
.card-banner h1 {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 4vw;
}

/* Estilos para los subt铆tulos de las tarjetas de banner */
.card-banner h2 {
  margin-bottom: 20px;
}

.sobre-nosotros {
  color: var(--primary-color);
  margin: 1%;
}

.sobre-nosotros ul {
  margin-left: 2%;
}

.sobre-nosotros h2 {
  font-size: 2vw;
}
.sobre-nosotros p,
ul {
  font-size: 1vw;
}

/* Estilos para la secci贸n de b煤squeda */
#search {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el t铆tulo de la secci贸n de b煤squeda */
.search-title {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 3vw;
}

/* Estilos para el input de b煤squeda */
.input-search {
  background-color: var(
    --bg-input-color
  ); /* Aplicaci贸n del color de fondo del input */
  border: 2px solid var(--primary-color); /* Borde del input */
  border-radius: 25px;
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 16px;
  height: 50px;
  margin: 20px 0px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
  font-family: "Nunito", sans-serif;
}

/* Estilos para la secci贸n de productos y ofertas */
#productos,
#ofertas {
  text-align: center;
}

/* Estilos para los t铆tulos de las secciones de productos y ofertas */
#productos h2,
#ofertas h2 {
  margin: 50px 0px;
}

/* Estilos para los botones de productos populares */
.popular-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilos para el grid de productos */
.producto-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 20px;
}

/* Estilos para los 铆tems de producto */
.producto-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 300px;
  font-size: 20px;
  cursor: pointer;
  transition: all 450ms;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

/* Estilos para las im谩genes de los 铆tems de producto */
.producto-item-img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Estilos para los detalles de los 铆tems de producto */
.producto-item-detail1 {
  align-items: flex-start;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: opacity 450ms;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Estilos para los detalles de los 铆tems de producto */
.producto-item-detail {
  bottom: -100%;
  padding: 30px;
  max-height: 100%;
  overflow-y: auto;
  line-height: 15px;
  position: absolute;
  background-color: var(
    --bg-button-color
  ); /* Aplicaci贸n del color de fondo del bot贸n */
  box-sizing: border-box;
  transition: bottom 0.4s ease-in-out;
  width: 100%;
}

/* Estilos al pasar el rat贸n por encima de los 铆tems de producto */
.producto-item:hover {
  opacity: 0.9;
}

/* Estilos al pasar el rat贸n por encima de los detalles de los 铆tems de producto */
.producto-item-detail:hover {
  bottom: 0;
}

/* Estilos para el t铆tulo de los detalles de los 铆tems de producto */
.producto-item-detail-title {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  margin: 5px 0px 0px 0px;
  line-height: 1.2em;
}

/* Estilos para el subt铆tulo de los detalles de los 铆tems de producto */
.producto-item-detail-subtitle {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 15px;
  margin: 3px 0px;
}

/* Estilos para el subt铆tulo de los detalles de los 铆tems de producto */
.producto-item-detail-subtitle::after {
  content: ""; /* Agregar un emoji al final del subt铆tulo */
}

/* Estilos para la secci贸n de productos mejor valorados */
#top-rated {
  margin: 50px 0px;
}

/* Estilos para el scroller de productos */
.producto-scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 40px 0px;
}

/* Estilos para los 铆tems de producto versi贸n 2 */
.producto-item-v2 {
  border-radius: 20px;
  width: 170px;
  min-width: 170px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

/* Estilos para el contenedor de los 铆tems de producto versi贸n 2 */
.wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  overflow: hidden;
}

/* Estilos para las im谩genes de los 铆tems de producto versi贸n 2 */
.producto-item-img-v2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Estilos para los detalles de los 铆tems de producto versi贸n 2 */
.producto-item-detail-v2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Estilos para el t铆tulo de los detalles de los 铆tems de producto versi贸n 2 */
.producto-item-detail-title-v2 {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

/* Estilos al pasar el rat贸n por encima del t铆tulo de los detalles de los 铆tems de producto versi贸n 2 */
.producto-item-detail-title-v2:hover {
  color: var(--bg-button-color); /* Aplicaci贸n del color de fondo del bot贸n */
}

/* Estilos para el subt铆tulo de los detalles de los 铆tems de producto versi贸n 2 */
.producto-item-detail-subtitle-v2 {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  font-size: 12px;
  margin: 3px 0px;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: var(
    --bg-input-color
  ); /* Aplicaci贸n del color de fondo del input */
}

/* Estilos para el mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: var(
    --bg-button-color
  ); /* Aplicaci贸n del color de fondo del bot贸n */
}

/* Estilos al pasar el rat贸n por encima del mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: var(
    --bg-button-color
  ); /* Aplicaci贸n del color de fondo del bot贸n */
}

/* Estilos para el formulario */
.d-form {
  width: 50%;
  padding: 0px 40px;
  text-align: center;
}

/* Estilos para el iframe */
.d-iframe {
  width: 50%;
  padding: 0px 40px;
}

/* Estilos para el pie de p谩gina */
#footer {
  align-items: center;
  background-color: var(
    --bg-button-color
  ); /* Aplicaci贸n del color de fondo del bot贸n */
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
}

/* Estilos para el contenedor del pie de p谩gina */
#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Estilos para los enlaces del pie de p谩gina */
#footer a {
  color: var(--primary-color); /* Aplicaci贸n del color primario */
  cursor: pointer;
  font-size: 1.2vw;
  padding:0 30px;
  text-decoration: none;
}

/* Estilos al pasar el rat贸n por encima de los enlaces del pie de p谩gina */
#footer a:hover {
  text-decoration: underline;
  color: var(--secondary-color); /* Aplicaci贸n del color secundario */
}

/* Estilos para las im谩genes de la lista */
.img-list {
  width: 25%;
}

/* Estilos para las im谩genes de los detalles del producto */
.producto-detail-poster img {
  width: 300px;
}

/* Media queries para pantallas grandes */
@media screen and (max-width: 1920px) {
}

/* Media queries para tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 3vw;
  }
  .login-text {
    display: none;
  }

  #banner {
    height: 400px;
  }
  #search {
    margin: 15px;
    height: 200px;
  }
  .container {
    margin: 30px auto;
    max-width: 720px;
  }
  .card-banner {
    padding: 0px 75px;
  }

  .card-banner h1 {
    font-size: 7vw;
  }

  .search-title {
    font-size: 4.5vw;
  }

  .h2-subtitle {
    font-size: 5vw;
  }

  .producto-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .d-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .d-iframe {
    width: 100%;
  }

  .sobre-nosotros h2 {
    font-size: 25px;
  }

  ul {
    font-size: 15px;
  }

  .sobre-nosotros p {
    font-size: 10px;
  }

  #footer a {
    padding: 2px 10px;
    font-size: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  #footer .container .footer-links {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    text-align: center;
    padding-right: 100px;
  }
  #footer .container .social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  #footer .container .social-links a {
    padding: 10px;
  }
}

/* Media queries para celulares */
@media screen and (max-width: 767px) {
  h2 {
    font-size: 3vw;
  }
  .header nav #logo i {
    position: fixed;
    margin-bottom: -100vh;
    left: 10vh;
  }

  .header nav .nav-links {
    padding-top: 50px;
    margin-right: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    gap: 15px;
    position: fixed;
    margin-bottom: -8vh;
    right: 20vh;

  }

  .card-banner h1 {
    font-size: 25px;
  }

  .h2-subtitle {
    font-size: 5vw;
  }

  .login-text {
    display: none;
  }

  #logo a {
    font-size: 1.2em;
  }
  #banner {
    height: 350px;
  }
  .logo-texto {
    font-size: 0;
  }
  #search {
    height: 200px;
  }
  .container {
    max-width: 100%;
    margin: 0px;
  }

  .search-title {
    font-size: 5vw;
  }

  .card-banner {
    padding: 0px 50px;
  }
  .producto-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .d-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .d-iframe {
    width: 100%;
  }

  .sobre-nosotros h2 {
    font-size: 20px;
  }

  ul {
    font-size: 10px;
  }

  .sobre-nosotros p {
    font-size: 7px;
  }

  #footer {
    justify-content: center;
    max-width: 100%;
    padding: 10px;
  }

  #footer .container .footer-links a {
    font-size: 1.5vh;
  }
  #footer .container .footer-links {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    align-items: flex-start;
    text-align: center;
    padding-right: 1.2vh;
  }
  #footer .container .social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-right: 2.5vh;
  }
  #footer .social-links a {
    font-size: 1.7vh;
    padding: 0.5vh;
  }
}