<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de Nosotros - UrbanIconic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/63d67a9fea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      rel="shortcut icon"
      href="../static/img/shopping-bag.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header class="header">
      <nav>
        <div id="logo">
          <a href="../">
            <i class="fa-solid fa-shopping-bag"></i>
            <span class="logo-texto">UrbanIconic</span>
          </a>
        </div>
        <!-- <ul class="nav-links">
          <li><a href="#productos">Productos</a></li>
          <li><a href="#ofertas">Ofertas</a></li>
          <li>
            <a class="btn-urban" href="#">
              <i class="fas fa-sign-in-alt"></i>
              <span class="login-text"> Mi Cuenta </span>
            </a>
          </li>

          <li>
            <a href="#carrito"
              ><i class="fas fa-shopping-cart" aria-hidden="true"></i
            ></a>
          </li>
        </ul> -->
      </nav>
    </header>
    <main>
      <div id="app">
        <section id="banner" class="d-flex">
          <div class="card-banner container">
            <h1 class="h1-title">Acerca de Nosotros</h1>
          </div>
        </section>

        <!-- Sección de Acerca de Nosotros -->
        <section class="container-sn">
          <div class="sobre-nosotros">
            <h2>Nuestra Historia</h2>
            <ul>
              <li>Origen y Fundación</li>
              <p>
                Hace más de una década, nació UrbanIconic como un sueño compartido entre apasionados del diseño y la moda. Desde entonces, hemos crecido desde una pequeña tienda local hasta convertirnos en un destino global para los amantes del estilo urbano y los productos de alta calidad.
              </p>
              
              <li>Crecimiento y Evolución</li>
              <p>
                Nuestra evolución ha sido impulsada por la innovación y el compromiso con la excelencia. Desde nuestros inicios como una tienda de moda urbana, hemos diversificado nuestra oferta para satisfacer las necesidades cambiantes de nuestros clientes, manteniendo siempre nuestro compromiso con la calidad y el diseño.
              </p>
              <li>Valores Fundamentales</li>
              <p>
                Nuestros valores de creatividad, autenticidad y comunidad siguen siendo el corazón de todo lo que hacemos. Nos esforzamos por ofrecer productos que reflejen nuestra pasión por el diseño urbano y que inspiren a nuestros clientes a expresar su estilo único en todos los aspectos de su vida.
              </p>
            </ul>
          </div>
          <div class="sobre-nosotros">
            <h2>Nuestra Misión</h2>
            <p>
              En UrbanIconic, nuestra misión es proporcionar a nuestros clientes una experiencia de compra excepcional al ofrecer una amplia gama de productos de alta calidad, que incluyen electrodomésticos, muebles, ropa y accesorios de moda urbana. Nos esforzamos por ser el destino preferido de aquellos que buscan estilo, comodidad y funcionalidad en sus productos.
            </p>
          </div>
          <div class="sobre-nosotros">
            <h2>Nuestra Visión</h2>
            <p>
              Nuestra visión es seguir siendo líderes en la industria minorista al ofrecer una experiencia de compra incomparable y una selección única de productos para el hogar y la moda. Esperamos seguir creciendo y expandiendo nuestra presencia global, manteniendo siempre nuestro compromiso con la innovación y la excelencia.
            </p>
          </div>
          <div class="sobre-nosotros">
            <h2>Por Qué Elegirnos</h2>
            <ul>
              <li>Amplia variedad de productos</li>
              <li>Seguridad en tus transacciones</li>
              <li>Atención al cliente 24/7</li>
              <li>Envíos rápidos y confiables</li>
            </ul>
          </div>
          
        </section>
        <!-- Fin de la sección Acerca de Nosotros -->
      </div>
    </main>
    <footer id="footer">
      <div class="container">
        <div class="footer-links">
          <a href="#">Términos y Condiciones</a>
          <a href="#">Política de Privacidad</a>
          <a href="#">Acerca de Nosotros</a>
          <a href="#">Mapa del Sitio</a>
        </div>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="mailto:contacto@example.com"
            ><i class="fas fa-envelope"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
